#source1,
#destination1,
#source2,
#destination2 {
  width:200px;
  height: 90px;
  margin-right: 10px;
}

.button {
  background-color: orange;
  width: 70px;
  margin:10px;
}

.buttons {
  display: inline-block;
  width: 100px;
  vertical-align: bottom;
}

.div1 {
  margin : 30px;
}
