#body{
  width:500px;
  margin: auto;
}
.form1 {
  background-color: lightgrey;
  padding: 20px;
}

#header{
  font:normal 18px arial;
  background-color: green;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  padding: 5px 0;
}

.label1{
  display: inline-block;
  width:100px;
}

.option1{
  width: 150px;
}
.div1{
  padding-bottom: 10px;
}
.textarea{
  margin-top: 10px;
}
.button1{
  font:normal 18px arial;
  background-color: green;
  color: white;
  margin-left: 200px;
}
.p1{
margin-left: 100px;
}
